__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
*.egg
*.whl
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.nox/
.mypy_cache/
.pyre/
.pytype/
*.pid
*.seed
*.pid.lock
.secrets.baseline
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars
*.auto.tfvars
*.plan
*.tfplan
backend.hcl.local
.backend/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
Thumbs.db
.vscode/
.idea/
*.pem
aws.txt
